DR_HOST=127.0.0.1
DR_PORT=8000
DR_DEBUG=1

DR_IMG_SIZE=320
DR_MODEL_DIR=backend/models

DR_DENSENET_MODEL=densenet121_best.h5
DR_EFFICIENTNET_MODEL=efficientnetb3_best.h5

DR_WEIGHT_EFFICIENTNETB3=0.55
DR_WEIGHT_DENSENET121=0.45

DR_WARN_P3_WHEN_CLASS2=0.20
DR_WARN_P2_WHEN_CLASS3=0.25
DR_MODERATE_SEVERE_MARGIN=0.12
DR_HIGH_UNCERTAINTY=0.40
